* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 760px;
  left: 0px;
  top: 0px;
  background-image: url(./assets/back1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  display: inline-flex !important;
}

nav li {
  margin: 40px;
  width: 100%;
  height: 100%;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #ffffff;
}

header img {
  position: absolute;
  width: 481px;
  height: 270px;
  left: 100px;
  top: 220px;
}

.content-area h1 {
  margin-top: 30%;
}

.biography-area {
  display: flex;
  margin: 0;
  justify-content: center;
}

.bio-content {
  width: 593px;
  height: 288px;
}

.content-area p {
  height: 288px;
  width: 593px;
  left: 739px;
  top: 1103px;
}

.content-area p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.publication-area {
  position: absolute;
  width: 332px;
  height: 83px;
  left: 88px;
  top: 1804px;

  background: #ffffff;
}

.publication-title {
  height: 42px;
  width: 313px;
  left: 90px;
  top: 1826px;
  font-family: Roboto;
  text-align: center !important;
}

h2 {
  padding: 20px 2px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #e40f29;
}

.publication {
  padding: 180px;
  height: 760px;
  background-color: black;
  background-image: url(./assets/spiderman_wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.content1 {
  margin-top: 3%;
  width: 664px;
  height: 96px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #ffffff;
}

.content2 {
  width: 687px;
  height: 192px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #ffffff;
}

.biography-area h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #416fbf;
  height: 42px;
  margin-top: 30%;
  margin-bottom: 10%;
}

.biography-area img {
  max-width: 550px;
  margin: 7%;
  width: 35%;
}

.title-area {
  height: 83px;
  width: 332px;
  background: #ffffff;
}

.title-area h3 {
  padding: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #e40f29;
}

.personality-area {
  padding: 100px;
}

.personality {
  height: 42px;
  width: 382px;
}

.personality h1 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #416fbf;
}

.content-personality {
  margin-top: 2%;
}

.personality-paragraph {
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.content-personality2 {
  margin-left: 20px;
}

.powers-skills {
  padding: 0px 100px;
  margin: auto;
}

.powers-skills-content {
  margin-top: 2%;
  display: inline-flex !important;
}

.powers {
  height: 42px;
  width: 492px;
}

.powers h1 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #416fbf;
}

.powers-content {
  height: 312px;
  width: 50%;
}

.powers-paragraph {
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  padding: 15% 0%;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.image-powers {
  margin-left: 2%;
  width: 50%;
  height: 527.28px;
}

.image-powers img {
  width: 100%;
  max-width: 550px;
}

.supporting {
  width: 100%;
  height: 760px;
  padding: 100px;
  margin-top: 100px;
  justify-content: flex-end;

  background-image: url(./assets/background_spider3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.supporting-box {
  width: 332px;
  height: 83px;
  padding: 15px;
  margin: 2%;
  color: #e40f29;
  background: #ffffff;
}

.supporting-title {
  width: 258px;
  height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #e40f29;
}

.supporting-content {
  margin-left: 50%;
}

.supporting-content p {
  margin: 15% 0%;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}