body {
  background-image: url(./assets/background.jpg);
  height: 100%;
  align-items: center;
}

.logo-area {
  margin-top: 20%;
}

.image-area {
  text-align: center;
}

.image-area1 {
  text-align: center;
}

.image-area1 img {
  width: 80%;
  height: 100%;
}

.image-area img {
  width: 100%;
  height: 100%;
}

.subtitle {
  color: orange;
  background-color: white;
  text-align: center;
}

.content-area {
  margin: auto;
  width: 90%;
  background-color: white;
  border-left-style: solid;
  border-left-color: orange;
}

.content-area p {
  padding: 3px;
}

.b-orange-bg {
  background-color: orange;
}

.dory {
  background-color: blue;
  color: #fff;
}
