* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  display: flex !important;
}

li {
  margin: auto;
  list-style: none;
  font-family: Bodoni 72;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

header {
  margin-bottom: 22px;
}

.nav-content {
  margin: auto;
  text-align: center;
  padding: 25px;
}

.nav-content h2 {
  font-family: Bodoni 72;
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-bottom: 10px;
}

.nav-content h6 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.img-area {
  background-image: url(./assets/image1.png);
  height: 798px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  box-sizing: border-box;
  position: absolute;
  width: 60%;
  left: 147px;
  top: 842px;
  background: #f5f4f2 !important;
  border: 7px solid #ffffff;
}

.card p {
  margin-top: 2%;
  padding: 3%;
  font-family: Bodoni 72;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: left;
}

.card img {
  padding: 3%;
}

.card h3 {
  padding: 3%;
  font-family: Bodoni 72;
  font-size: 54px;
  font-weight: 400;
  line-height: 71px;
  letter-spacing: 0.08em;
  text-align: left;
}

.content-2 {
  display: flex;
  margin-top: 20%;
}

.content-2 h1 {
  font-family: Bodoni 72;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.08em;
  text-align: center;
}

.content-2 p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.text-area {
  margin: 8%;
}

.text-area h1 {
  margin: 5% 0%;
}

.text-area p {
  margin: 2%;
}

.img-area2 {
  text-align: center;
  width: 50%;
}

.img-area2 img {
  padding: 3%;
  border: 3px solid #ece8e2;
}

.text-area {
  width: 50%;
}

.img-area3 {
  margin-top: 10%;
}

.img-area3 img {
  width: 100%;
}

.images-area {
  margin-top: 100px;
  position: relative;
  height: 1050px;
}

.img {
  position: absolute;
  width: 307px;
  height: 369px;
  left: 10%;
  top: 0px;
}

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10%;
}

.gallery img {
  width: 25%;
}

.img1 {
  position: absolute;
  width: 306px;
  height: 275px;
  left: 35%;
  top: 0px;
}

.img2 {
  position: absolute;
  width: 307px;
  height: 369px;
  left: 60%;
  top: 0px;
}

.img3 {
  position: absolute;
  width: 307px;
  height: 184px;
  left: 10%;
  top: 370px;
}

.img4 {
  position: absolute;
  width: 306px;
  height: 369px;
  left: 35%;
  top: 260px;
}

.img5 {
  position: absolute;
  width: 307px;
  height: 184px;
  left: 60%;
  top: 370px;
}

.img6 {
  position: absolute;
  width: 307px;
  height: 369px;
  left: 10%;
  top: 545px;
}

.img7 {
  position: absolute;
  width: 306px;
  height: 280px;
  left: 35%;
  top: 675px;
}

.img8 {
  position: absolute;
  width: 307px;
  height: 184px;
  left: 60%;
  top: 545px;
}

.sides {
  width: 307px;
  height: 369px;
}

.center-image {
  padding-bottom: 45px;
}

.sides2 {
  width: 307px;
  height: 184px;
}

.center-image2 {
  width: 306px;
  height: 369px;
}

footer {
  display: flex;
  justify-content: center;
  background: #f5f4f2;
}

footer p {
  font-family: Bodoni 72;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-align: left;
}

.text-footer {
  margin: auto;
  width: 50%;
}

.content-footer {
  padding: 22px 0px;
  display: flex;
}

.img-footer {
  width: 100%;
}